<wm-page name="page1" data-ng-controller="MainPageController">
    <wm-mobile-navbar name="mobile_navbar1"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-composite name="composite1">
                <wm-label class="col-xs-4" name="label2" caption="Enter Name"></wm-label>
                <wm-container class="col-xs-8" name="container1">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-label name="label2_1"></wm-label>
            <wm-fileupload name="fileupload1" service="FileService" operation="uploadFile"></wm-fileupload>
        </wm-page-content>
    </wm-content>
    <wm-mobile-tabbar name="mobile_tabbar1" dataset="home,star,music,cog,edit"></wm-mobile-tabbar>
</wm-page>